@import "../theme.scss";

.login-container {
  display: flex;
  justify-content: center;

  padding: 15px;

  .login-form {
    width: 300px;
    display: flex;
    flex-direction: column;

    .form-header {
      text-align: center;
    }

    &-error {
      color: red;
    }
  }
}