@import "../theme.scss";

.post-items-container {
  padding: 15px;

  .post-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .post-item {
    width: 250px;
    border: 1px solid #eeeeee;
    padding: 10px;
    margin: 10px;

    display: flex;
    flex-direction: column;

    &-picture {
      overflow: hidden;
      height: 100px;

      img {
        width: 100%;
      }
    }

    &-short-description {
      margin-bottom: 10px;
    }

    &-link {
      align-self: flex-end;
    }
  }
}